<h1>Pirates!</h1>

<form action="/pirates" method="post">
    <label for="name"> Pirate Name</label>
    <input type="text" name="pirate[name]" id="name">
    <label for="weight"> Pirate Weight</label>
    <input type="text" name="pirate[weight]" id="weight">
    <label for="height"> Pirate Height</label>
    <input type="text" name="pirate[height]" id="height">

<h1>Pirate Ships!</h1>

    <label for="ship_name_1">Pirate Ship Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <label for="type">Pirate Ship Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <label for="booty">Pirate Ship Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

    <label for="name">Pirate Ship Name</label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <label for="type">Pirate Ship Type</label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <label for="booty">Pirate Ship Booty</label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">

    <button type="submit">Submit</button>

</form>
