<html>
<h1>Make your form here</h1>
<form method="POST" action="pirates">
    <label>Pirate Name</label>
    <input type="text" id="name" name ="pirate[name]">
    <label>Pirate Weight</label>
    <input type="text" id="name" name ="pirate[weight]">
    <label>Pirate Height</label>
    <input type="text" id="name" name ="pirate[height]">
    <h3>Ship 1</h3>
    <label>Ship Name</label>
    <input type="text" id="ship_name_1" name ="pirate[ships][][name]">
    <label>Ship Type</label>
    <input type="text" id="ship_type_1" name ="pirate[ships][][type]">
    <label>Ship Booty</label>
    <input type="text" id="ship_booty_1" name ="pirate[ships][][booty]">
    <h3>Ship 2</h3>
    <label>Ship Name</label>
    <input type="text" id="ship_name_2" name ="pirate[ships][][name]">
    <label>Ship Type</label>
    <input type="text" id="ship_type_2" name ="pirate[ships][][type]">
    <label>Ship Booty</label>
    <input type="text" id="ship_booty_2" name ="pirate[ships][][booty]">
    <input type="submit" value="Submit" id="Submit">
</form>
</html>