<h1>Make your form here</h1>
<form method="POST" action="/pirates">
<h2>Pirate Info</h2>
<label for="pirate_name">Pirate Name:</label> 
<input type="text" name="pirate[name]"><br>
<label for="pirate_weight">Pirate Weight:</label>
<input type="text" name="pirate[weight]"><br>
<label for="pirate_hieght">Pitare Height:</label>
<input type="text" name="pirate[height]"><br>
<h2>Ship Info</h2>
<label for="ship_name_1">Ship name:</label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
<label for="ship_type">Ship type:</label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]"><br>
<label for="ship_booty_1">Ship booty:</label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]"><br>
<label for="ship_name_2">Ship name:</label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]"><br>
<label for="ship_type_2">Ship type:</label>
<input type="text" id="ship_type_2" name="pirate[ships][][type]"><br>
<label for="ship_booty_2">Ship booty:</label>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]"><br>
<input type="submit" value="Submit">
</form>