<h1>Make your form here</h1>

<form action = '/pirates' method = 'post'>
<h4>Pirate Name: <input type="text" name ="pirate[name]"></h4>
<h4>Pirate Weight: <input type="integer" name ="pirate[weight]"></h4>
<h4>Pirate Height: <input type="integer" name ="pirate[height]"></h4>
<br>

<h4>Ship One's Name: input id="ship_name_1" type="text" name ="pirate[ships][][name]"></h4>
<h4>Ship One's Type: input id="ship_type_1" type="text" name ="pirate[ships][][type]"></h4>
<h4>Ship One's Booty Attributes: input id="ship_booty_1" type="text" name ="pirate[ships][][booty]"></h4> 
<br>

<h4>Ship Two's Name: input id="ship_name_2" type="text" name ="pirate[ships][][name]"></h4>
<h4>Ship Two's Type: input id="ship_type_2" type="text" name ="pirate[ships][][type]"></h4> 
<h4>Ship Two's Booty Attributes: input id="ship_booty_2" type="text" name ="pirate[ships][][booty]"></h4>
<br>

<input type="submit">
</form>
