<h1>Make your form here</h1>

<form action = '/pirates' method = 'post'>
<h4>Pirate Name:</h4> <input type="text" name ="pirate[name]">
<h4>Pirate Weight:</h4> <input type="text" name ="pirate[weight]">
<h4>Pirate Height:</h4> <input type="text" name ="pirate[height]">
<br>

<h4>Ship One's Name:</h4> <input id="ship_name_1" type="text" name ="pirate[ships][][name]">
<h4>Ship One's Type:</h4> <input id="ship_type_1" type="text" name ="pirate[ships][][type]">
<h4>Ship One's Booty Attributes:</h4> <input id="ship_booty_1" type="text" name ="pirate[ships][][booty]">
<br>

<h4>Ship Two's Name:</h4> <input id="ship_name_2" type="text" name ="pirate[ships][][name]">
<h4>Ship Two's Type:</h4> <input id="ship_type_2" type="text" name ="pirate[ships][][type]"> 
<h4>Ship Two's Booty Attributes:</h4> <input id="ship_booty_2" type="text" name ="pirate[ships][][booty]">
<br>

<input type="submit" value = "Submit">
</form>
